<footer class="footer section-dark">
  <div class="container">
    <div class="row">
      <div class="credits ml-auto">
					<span class="copyright">
				      made with <i class="fa fa-heart heart"></i> by ME
					</span>
      </div>
    </div>
  </div>
</footer>
