<div class="wrapper">
  <div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/SbaPLTm.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>NASA kit</h1>
        <h3>Discovering the infinity</h3>
        <br/>
        <a href="https://www.youtube.com/watch?v=kjKaGEwQlDM" class="btn btn-outline-neutral btn-round" target="_blank"><i
          class="fa fa-play"></i>Watch video</a>
      </div>
    </div>
  </div>
</div>
