<div class="wrapper">
  <div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/SbaPLTm.jpg');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Asteroids</h4>
            </div>
            <div class="card-body">
              <div >
                <div class="tim-title">
                  <h6>Please select the period</h6>
                </div>

                <div class="row">
                  <div class="col-sm-3 date-pick">



                    <div class="form-group ">
                      <form class="form-inline ">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp1" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-icon" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="col-sm-3 date-pick">
                    <div class="form-group ">

                      <form class="form-inline ">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp2" [(ngModel)]="endDate" ngbDatepicker #b="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-icon" (click)="b.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="col-sm-3 date-pick">

                    <button class="btn btn-default" type="button" (click)="getAsteroids()"> Submit </button>


                  </div>
                </div>
              </div> <!-- end row -->


            </div>
            <div class="card-body">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th>
                      Name
                    </th>
                    <th>
                      Size
                    </th>
                    <th>
                      Potential hazardous

                    </th>
                    <th >
                      Distance
                    </th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let astParam of asteroidsArr">
                      <td>
                        {{astParam?.name}}
                      </td>
                      <td>
                        {{astParam.estimated_diameter.kilometers.estimated_diameter_min}}km - {{astParam.estimated_diameter.kilometers.estimated_diameter_max}}km
                      </td>
                      <td>
                        {{astParam.is_potentially_hazardous_asteroid? 'Yes' : 'No'}}
                      </td>
                      <td >
                        {{astParam.close_approach_data["0"].miss_distance.kilometers}} km
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
