<div class="wrapper">
  <div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/SbaPLTm.jpg');">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Today's daily image</h4>
            </div>
            <div class="card-body" *ngIf="dailyImageData">

                <div class="images-title">
                  <span>{{dailyImageData?.title}}</span>
                </div>

                <div class="img-container">
                  <img [src]="dailyImageData.url">
                </div>

                <div class="card-text">
                  <p>
                  <span>
                    {{dailyImageData?.explanation}}
                  </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

