<div class="wrapper">
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="" [routerLink]="['/home']">Nasa KIT</a>
        <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href=""  class="nav-link" [routerLink]="['/asteroids']"><i class="fa fa-globe"></i>Asteroids</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/daily-image']"><i class="fa fa-image"></i> Daily image</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link" [routerLink]="['/ufo']"><i class="fa fa-space-shuttle"></i> UFOs</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
